{% extends 'registration/base.html' %}
{% block title %} Home {% endblock%}

{% block content %}
{% if user.is_authenticated %}
   <p>Hi {{ user.username }}! Welcome to this blog site ...</p>  
   <ul>
    <li>
        <a href="{% url 'blog:homepage' %}">Click here to visit website...</a>
    </li>
    <li>
        <a href="{% url 'logout' %}">Click here to log out </a>
    </li>
   </ul>
  
{% else %}
<p>You are not logged in...Please login first. </p>
<a href="{% url 'login' %}">Click here to Log In </a>
{% endif %}
{% endblock %}