{% extends 'base.html' %}
{% block title %} Blog List Page {% endblock %}
{% block content %}
<div class="container">
    <ul>
        {% for blog in page_obj %}
        <li>
            <a href="{% url 'blog:blogdetailview' blog.id %}">{{blog.title}} </a>
            <span>{{blog.posted_date}}</span>
            <a href="{% url 'blog:authordetailview' blog.author_id %}">{{blog.author}}</a>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="pagination">
    <footer>
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </footer>

</div>
{% endblock %}
