<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Description Page</title>
    
</head>
<body>
    <h1>{{ context.title }}</h1>  
    <p><span>Posted on :</span>{{context.posted_date}}</p>
    <p>{{ context.content }}</p>
    <p><span>Written by :</span>{{context.author.name}}</p>

    <p>Comments : </p>
    {% for com in object_list %}
    <ul>
        <li>
            {{com.comment_content}}
            {{com.commented_date}}
        </li>
    </ul>
    {% endfor %}
    
    <a href="">Click here to add Comments</a>
</body>
</html>

